@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');
*{

  font-family: 'Montserrat', sans-serif;
}
.borde {
  border-radius: 12px;
}

.cajaAmarilla {
    
    background: rgb(243,156,18);
    background: linear-gradient(90deg, rgba(243,156,18,1) 48%, rgba(255,133,27,1) 84%);
    color: #fff;
}

.cajaVerde {
  background: rgb(0,141,76);
  background: linear-gradient(90deg, rgba(0,141,76,1) 48%, rgba(0,166,90,1) 84%);
  color: #fff;
}

.cajaRoja {
  background: rgb(221,75,57);
  background: linear-gradient(90deg, rgba(221,75,57,1) 48%, rgba(215,57,37,1) 84%);
  color: #fff;
}

.cajaPurpura {
  background: rgb(85,82,153);
  background: linear-gradient(90deg, rgba(85,82,153,1) 52%, rgba(91,88,162,1) 68%, rgba(96,92,168,1) 76%);
  color: #fff;
}


.blanco {
  color: white;
}

/*
 * Skin: Red
 * ---------
 */
.skin-red .main-header .navbar .nav > li > a {
  color: #ffffff;
}
.skin-red .main-header .navbar .nav > li > a:hover,
.skin-red .main-header .navbar .nav > li > a:active,
.skin-red .main-header .navbar .nav > li > a:focus,
.skin-red .main-header .navbar .nav .open > a,
.skin-red .main-header .navbar .nav .open > a:hover,
.skin-red .main-header .navbar .nav .open > a:focus,
.skin-red .main-header .navbar .nav > .active > a {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-red .main-header .navbar .sidebar-toggle {
  color: #ffffff;
}
.skin-red .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.skin-red .main-header .navbar .sidebar-toggle {
  color: #fff;
}



.skin-red .main-header li.user-header {
  background-color: #fff;
}
.skin-red .content-header {
  background: transparent;
}

.skin-red .sidebar-menu > li.header {
  color: rgba(255, 255, 255, .7);
  background:blue;
}
.skin-red .sidebar-menu > li > a {
  border-left: 3px solid transparent;
}


.skin-red .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #2c3b41;
}

.skin-red .sidebar a:hover {
  text-decoration: none;
}
.skin-red .sidebar-menu .treeview-menu > li > a {
  color: blue;
}
.skin-red .sidebar-menu .treeview-menu > li.active > a,
.skin-red .sidebar-menu .treeview-menu > li > a:hover {
  color: #ffffff;
}
.skin-red .sidebar-form {
  border-radius: 3px;
  border: 1px solid #374850;
  margin: 10px 10px;
}
.skin-red .sidebar-form input[type="text"],
.skin-red .sidebar-form .btn {
  box-shadow: none;
  background-color: #374850;
  border: 1px solid transparent;
  height: 35px;
}
.skin-red .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-red .sidebar-form input[type="text"]:focus,
.skin-red .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}

.skin-red .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}

.tamano {

  font-size: 12px;
}