@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');
*{
  font-family: 'Montserrat', sans-serif;
}
#navbar {
	background-color: #A71414;
}
#boton:hover {
	background-color: #7C0101;
}
#logo {
	background-color: #7C0101;
}
.skin-red .main-header .navbar {
  background-color: #DB3535; /*header----------------------------------------------------------*/
}
.skin-red .main-header .navbar .sidebar-toggle:hover {
  background-color: #E74C3C;
}
.skin-red .main-header .logo {
  background-color: #DB3535;
  color: #626567;
  border-bottom: 0 solid transparent;
}
.skin-red .wrapper,
.skin-red .main-sidebar,
.skin-red .left-side {
  background-color:   #FBFCFC; /*menu-side----------------------------------------------------------------*/
}
.skin-red .sidebar-menu > li:hover > a,
.skin-red .sidebar-menu > li.active > a,
.skin-red .sidebar-menu > li.menu-open > a {
  color: #626567;
  background: #EBEDEF ;/*#EFE4E4*/
}
.skin-red .sidebar-menu > li.active > a {
  border-left-color: green;
}
.skin-red .sidebar a {
  color: #626567;
}
h1 .titulo{
  color: #666;
}
.form-control:focus { 
  border-color: green;
}

.skin-red .user-panel > .info,
.skin-red .user-panel > .info > a {
  color: #626567;
}














.formulario {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.formulario__label {
  display: block;
  font-weight: 700;
  padding: 10px;
  cursor: pointer;
}

.formulario__grupo-input {
  position: relative;
}

.formulario__input {
  width: 100%;
  background: #EAE8E8;
  border: 3px solid transparent;
  border-radius: 3px;
  height: 45px;
  line-height: 45px;
  padding: 0 30px 0 10px;
  transition: .3s ease all;
}

.formulario__input:focus {
  border: 3px solid green;
  outline: none;
  box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
  font-size: 12px;
  margin-bottom: 0;
  display: none;
}

.formulario__input-error-activo {
  display: block;
}

.formulario__validacion-estado {
  position: absolute;
  right: 10px;
  bottom: 15px;
  z-index: 100;
  font-size: 16px;
  opacity: 0;
}

.formulario__checkbox {
  margin-right: 10px;
}

.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
  grid-column: span 2;
}

.formulario__mensaje {
  height: 45px;
  line-height: 45px;
  background: #FFA8A8 ;
  padding: 0 15px;
  border-radius: 3px;
  display: none;
}

.formulario__mensaje-activo {
  display: block;
}

.formulario__mensaje p {
  margin: 0;
  color: #A22121 ;
}

.formulario__grupo-btn-enviar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario__btn {
  height: 45px;
  line-height: 45px;
  width: 30%;
  background: #000;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: .1s ease all;
}

.formulario__btn:hover {
  box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.formulario__mensaje-exito {
  font-size: 14px;
  color: #119200;
  display: none;
}

.formulario__mensaje-exito-activo {
  display: block;
}


.formulario__grupo-correcto .formulario__validacion-estado {
  color: #1ed12d;
  opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
  color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
  color: #bb2929;
  opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
  border: 3px solid #bb2929;
}



@media screen and (max-width: 800px) {
  .formulario {
    grid-template-columns: 1fr;
  }

  .formulario__grupo-terminos, 
  .formulario__mensaje,
  .formulario__grupo-btn-enviar {
    grid-column: 1;
  }

  .formulario__btn {
    width: 100%;
  }
}


.colLabel {
   color: #333333;
}